/* index*/

/* media querie pc */
@media screen and (min-width: 930px){
#index {
    background-color: aqua;
    display: flex;    
    flex-wrap: wrap;
    padding: 0; 
    margin: 0;  
}

#index header.upper-header{
    flex-basis: 100%;   
    flex-shrink: 0;   
    flex-grow: 0;
    padding: 30px;
    background-color: blue;   
}

#index nav{
    flex-basis: 100%;   
    flex-shrink: 0;   
    flex-grow: 0;
    background-color: red;
}

#index .drawer {
    display: none;
  }

#index promotion-video{
    flex-basis: 100%; 
    padding: 10px;
    margin: 0px;  
    flex-shrink: 0;   
    flex-grow: 0;
    background-color:palevioletred;
}

#index video{
    width: 520px;
    height: 440px;
    float:left;
}

#index section.flexParent{
    flex-basis: 80%;   
    padding: 10px;
    display: flex;    
    flex-wrap: wrap; 
    background-color: purple;  
}

#index article-one{
    flex-basis: 60%;   
    flex-shrink: 0;   
    flex-grow: 0;
    padding: 10px; 
    background-color: royalblue; 
}

#index article-two{
    flex-basis: 60%;   
    flex-shrink: 0;   
    flex-grow: 0;
    padding: 10px; 
    background-color: royalblue; 
}

#index article-three{
    flex-basis: 60%;    
    flex-shrink: 0;   
    flex-grow: 0;
    padding: 10px; 
    background-color: royalblue; 
}

#index h1{
    background-color: violet;
}

#index h2{
    background-color: orange;
}

#index h3{
    background-color: white;
}

#index p.story{
    background-color: olive;
    line-height: 1.2em;
}

#index p.copyright-photo{
    background-color: hotpink;
    float: right;
}

#index img.photo-destination{
    height: 200px;
    width: 380px;
    float: right;
}

#index footer.footer-article{
    float: left;
    background-color: rgb(168, 42, 20);
}

#index aside{
    flex-basis: 20%;   
    flex-shrink: 0;   
    flex-grow: 0;
    left: 1235px;
    top: 294px;
    padding: 13px;
    position: fixed;
    float: left;
    background-color: steelblue;
}

#index ol{
    width: 80%;
    list-style-type: circle;
  }

#index footer-body{
    width: 80%;
    padding: 10px;
    height: 50px;  
    background: lightcoral;
}

#index footer{
    display: flex;    
    flex-wrap: wrap; 
    flex-basis: 81.3%;
    height: 50px;
    float: left; 
    order: 6;
    background: lightcoral;
}

#index p.copy{
    padding-top: 17px;
    margin: 0px;
}

#index p.cookie{
    padding-top: 8px;
    margin: 0px;
    color: #fff;opacity:1;
}

#index cookie-statement{
    width: 20%;  
    height: 50px; 
    left: 1235px;
    top: 654px;
    padding: 10px;
    position: fixed;
    background-color: rgb(255, 170,	0);opacity:0.5;
}

}/* END media querie pc */



/* media querie tablet */
@media screen and (min-width: 720px) and (max-width:929px){
    body{
        background-color: aqua;
        display: flex;    
        flex-wrap: wrap;
        padding: 0; 
        margin: 0;  
    }
    
    #index header.upper-header{
        height: 300px;
        width: 100%;
        padding: 30px;
        order: 1;
        background-color: blue;   
    }
    
    #index nav{
        height: 100px;
        width: 100%;
        order: 2;
        background-color: red;
    }

    #index .drawer {
        display: none;
      }

    #index aside{
        padding: 10px;
        width: 100%;
        height : 140px;
        order: 3;
        float: left;
        background-color: steelblue;
    }
    
    #index promotion-video{
        width: 100%;
        display: block;
        padding-left: 200px;
        margin-left: auto;
        margin-right: auto;
        order: 4;
        background-color:palevioletred;
    }
    
    #index video{
        width: 520px;
        height: 440px;
        float:left;
        order: 4;
    }
    
    #index section.flexParent{
        height: 1290px;
        width: 100%;
        padding: 10px;
        display: flex; 
        order: 5;   
        flex-wrap: wrap; 
        background-color: purple;  
    }
    
    #index article-one{
        flex-basis: 98%;
        height: 430px;   
        padding: 10px;
        order: 3; 
        background-color: royalblue; 
    }
    
    #index article-two{
        flex-basis: 98%; 
        height: 430px;    
        padding: 10px;
        order: 2; 
        background-color: royalblue; 
    }
    
    #index article-three{
        flex-basis: 98%; 
        height: 430px;     
        padding: 10px; 
        order: 1;
        background-color: royalblue; 
    }
     
    #index h1{
        background-color: violet;
    }
    
    #index h2{
        background-color: orange;
    }
    
    #index h3{
        background-color: white;
        width: 100%;
    }
    
    #index p.story{
        width: 800px;
        background-color: olive;
        line-height: 1.2em;
    }
    
    #index p.copyright-photo{
        background-color: hotpink;
        float: left;
    }
    
    #index img.photo-destination{
        height: 280px;
        width: 380px;
        float: left;
    }
    
    #index footer.footer-article{
        height: 60px;
        width: 380px;
        float: left;
        clear: both;
        background-color: rgb(168, 42, 20);
    }
       
    #index footer{
        display: flex;    
        flex-wrap: wrap; 
        flex-basis: 80%;
        float: left; 
        order: 6;
        background: lightcoral;
    }
    
    #index p.copy{
        padding-top: 17px;
        margin: 0px;
    }
    
    #index p.cookie{
        padding-top: 17px;
        margin: 0px;
        color: #fff;opacity:1;
    }

    #index cookie-statement{
        height: 50px;
        width: 20%;
        float: left; 
        order: 7;
        background-color: rgb(255, 170,	0);opacity:0.5;
    }
} /* END media querie tablet */


/* media querie mobile */
@media screen and (max-width: 719px){
    body{
        background-color: aqua;
        display: flex;    
        flex-wrap: wrap;
        padding: 0; 
        margin: 0;  
    }

    #index header.upper-header{
        height: 130px;
        width: 55%;
        padding: 30px;
        order: 1;
        background-color: blue;   
    }

    #index .drawer {
        position: relative;
        box-sizing: border-box;
        width: 32.5%;
        order: 2;
        background-color: orange;
      }
      #index .drawer input {
        width: 100%;
        height: 60px;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 3;
        cursor: pointer;
      }
      #index .drawer__name {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: greenyellow;
      }
      #index strong{
         margin-top: 15px;
      }
      #index .drawer__content {
        box-sizing: border-box;
        font-size: 15px;
        width: 100%;
        margin: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
        list-style: none;
        transition: padding 0.2s;
      }
      #index .drawer__content a{
          color: #fff;
      }
      #index .drawer__content a:active {
          color: black;
      }
      #index .drawer input:checked ~ .drawer__content {
        height: 80%;
        opacity: 1;
        pointer-events: initial;
        padding: 10px 0;
        background-color: green;
      }
      #index .drawer__arrow {
        font-weight: 700;
        font-size: 1.0rem;
        transition: transform 0.2s;
      }
      #index .drawer input:checked ~ .drawer__name > .drawer__arrow {
        transform: rotateZ(90deg);
      }
      #index .drawer__content li {
        padding: 10px;
        cursor: pointer;
      }
      #index .drawer__content li:hover {
        color: rebeccapurple;
        text-decoration: underline;
      }

    #index .logo-image{
        display: none;
    }
    
    
    #index nav{
       display: none;
    }

    #index aside{
        padding: 10px;
        width: 100%;
        height : 200px;
        order: 3;
        float: left;
        background-color: steelblue;
    }
    
    #index promotion-video{
        display: none;
    }
    
    #index section.flexParent{
        height: 1970px;
        width: 100%;
        padding: 10px;
        display: flex; 
        order: 4;   
        flex-wrap: wrap; 
        background-color: purple;  
    }
    
    #index article-one{
        flex-basis: 98%;
        height: 640px;   
        padding: 10px;
        order: 3; 
        background-color: royalblue; 
    }
    
    #index article-two{
        flex-basis: 98%; 
        height: 640px;    
        padding: 10px;
        order: 2; 
        background-color: royalblue; 
    }
    
    #index article-three{
        flex-basis: 98%; 
        height: 640px;     
        padding: 10px; 
        order: 1;
        background-color: royalblue; 
    }   
    
    #index h1{
        background-color: violet;
    }
    
    #index h2{
        background-color: orange;
    }
    
    #index h3{
        background-color: white;
        width: 100%;
    }
    
    #index p.story{
        width: 100%;
        margin-bottom: 20px;
        line-height: 1.2em;
        background-color: olive;
    }
    
    #index p.copyright-photo{
        background-color: hotpink;
        float: left;
    }
    
    #index img.photo-destination{
        height: 280px;
        width: 100%;
        margin-bottom: 20px;
        float: left;
    }
    
    #index footer.footer-article{
        height: 60px;
        width: 380px;
        float: left;
        clear: both;
        background-color: rgb(168, 42, 20);
    }
       
    #index footer{
        height: 50px;
        display: flex;    
        flex-wrap: wrap; 
        flex-basis: 70%;
        float: left; 
        order: 5;
        background: lightcoral;
    }
    
    #index p.cookie{
        color: #fff;opacity:1;
    }
    
    #index cookie-statement{
        height: 50px;
        width: 30%;
        float: left; 
        order: 6;
        background-color: rgb(255, 170,	0);opacity:0.5;
    }
} /* END media querie mobile */



/* bestdestinations.html */

/* media querie pc */
@media screen and (min-width: 930px){
#grid-container header{
    background-color: lightseagreen;
    grid-area: headerTag;
}

#grid-container nav{
    background-color: magenta;
    grid-area: navTag;
}

#grid-container .drawer {
    display: none;
  }

#grid-container article-destination{
    padding-top: 300px;
    width: 100%;
    float: left;
    background-color: purple;
    grid-area: article1Tag;
}

#grid-container article-destination2{
    width: 100%;
    float: left;
    background-color: yellow;
    grid-area: article2Tag;
}

#grid-container article-destination3{
    padding-top: 100px;
    width: 100%;
    float: left;
    background-color: green;
    grid-area: article3Tag;
}

#grid-container article-destination4{
    padding-top: 100px;
    width: 100%;
    float: left;
    background-color: orange;
    grid-area: article4Tag;
}

#grid-container article-destination5{
    padding-top: 200px;
    width: 100%;
    float: left;
    background-color: pink;
    grid-area: article5Tag;
}

#grid-container article-destination6{
    width: 100%;
    float: left;
    background-color: maroon;
    grid-area: article6Tag;
}

#grid-container p.story{
    margin: 0px;
    padding: 10px;
    width: 80%;
}

#grid-container h3{
    margin: 0px;
    padding: 10px;
}

#grid-container img.photo-destination{
    height: 100%;
    width: 100%;
    float: left;
}

#grid-container aside-product1{
    width: 100%;
    flex-shrink: 0;   
    flex-grow: 0;
    float: left;
    background-color: black;
    grid-area: aside1Tag;
}

#grid-container aside-product2{
    justify-content: center;
    width: 100%;
    flex-shrink: 0;   
    flex-grow: 0;
    float: left;
    background-color: grey;
    grid-area: aside2Tag;
}

#grid-container aside-product3{
    width: 100%;
    flex-shrink: 0;   
    flex-grow: 0;
    float: left;
    background-color: goldenrod;
    grid-area: aside3Tag;
}

#grid-container footer{
    background-color: mediumaquamarine;
    grid-area: footerTag;
}

#grid-container p.copy{
    padding-top: 17px;
    margin: 0px;
}

#grid-container p.cookie{
    padding-top: 17px;
    margin: 0px;
    grid-column: 5 / span 6;
    color: #fff;opacity:1;
}

#grid-container cookie-statement{
    height: 50px;
    background-color: rgb(255, 170,	0);opacity:0.5;
    grid-area: cookieTag;
}

#grid-container cookie-statement{
    height: 50px;
    float: left; 
    background-color: rgb(255, 170,	0);opacity:0.5;
    grid-area: cookieTag;
}

#grid-container{
    background-color: lawngreen;
    padding: 10px;

    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;

    /* #column1  #column2  #column3  #column4  #column5  #column6 */
    grid-template-areas: 
    'headerTag  headerTag  headerTag  headerTag  headerTag  headerTag'
    'navTag     navTag     navTag     navTag     navTag     navTag'
    'article2Tag  article2Tag  article2Tag  article1Tag  article1Tag  article3Tag'
    'article5Tag  article5Tag  article5Tag  article1Tag  article1Tag  article3Tag'
    'article5Tag  article5Tag  article5Tag  article1Tag  article1Tag  article4Tag'
    'article5Tag  article5Tag  article5Tag  article6Tag  article6Tag  article6Tag'
    'aside1Tag    aside1Tag    aside1Tag    aside2Tag    aside2Tag    aside3Tag'
    'footerTag    footerTag    footerTag    footerTag    footerTag    cookieTag'
}
}/* END media querie pc */


/* media querie tablet */
@media screen and (min-width: 720px) and (max-width:929px){

    #grid-container header{
        background-color: lightseagreen;
        grid-area: headerTag;
    }
    
    #grid-container nav{
        background-color: magenta;
        grid-area: navTag;
    }

    #grid-container .drawer {
        display: none;
      }
    
    #grid-container article-destination{
        margin: 0px;
        padding: 0px;
        height: 350px;
        width: 100%;
        float: left;
        background-color: purple;
        grid-area: article1Tag;
    }
    
    #grid-container article-destination2{
        padding-top: 50px;
        width: 100%;
        float: left;
        background-color: yellow;
        grid-area: article2Tag;
    }
    
    #grid-container article-destination3{
        width: 100%;
        float: left;
        background-color: green;
        grid-area: article3Tag;
    }
    
    #grid-container article-destination4{
        display: none;
    }
    
    #grid-container article-destination5{
        padding-top: 90px;
        height: 500px;
        width: 100%;
        float: left;
        background-color: pink;
        grid-area: article5Tag;
    }
    
    #grid-container article-destination6{
        height: 250px;
        width: 100%;
        float: left;
        background-color: maroon;
        grid-area: article6Tag;
    }
    
    #grid-container p.story{
        margin: 0px;
        padding: 10px;
        width: 80%;
    }
    
    #grid-container h3{
        margin: 0px;
        padding: 10px;
    }
    
    #grid-container img.photo-destination{
        height: 500px;
        width: 380px;
        float: left;
    }
    
    #grid-container aside-product1{
        width: 100%;
        float: left;
        background-color: black;
        grid-area: aside1Tag;
    }
    
    #grid-container aside-product2{
        width: 100%;
        float: left;
        background-color: grey;
        grid-area: aside2Tag;
    }
    
    #grid-container aside-product3{
        display: none;
    }
    
    #grid-container footer{
        background-color: mediumaquamarine;
        grid-area: footerTag;
    }
    
    #grid-container p.cookie{
        margin: 0px;
        color: #fff;opacity:1;
    }
    
    #grid-container cookie-statement{
        float: left; 
        background-color: rgb(255, 170,	0);opacity:0.5;
        grid-area: cookieTag;
    }
    
    #grid-container{
        background-color: lawngreen;
        padding: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
    
        /* #column1  #column2  #column3  #column4  #column5  #column6 */
        grid-template-areas: 
        'headerTag  headerTag  headerTag  headerTag  headerTag  headerTag'
        'navTag     navTag     navTag     navTag     navTag     navTag'
        'article1Tag  article1Tag  article1Tag  article2Tag  article2Tag  article2Tag'
        'article3Tag  article3Tag  article3Tag  article2Tag  article2Tag  article2Tag'
        'article3Tag  article3Tag  article3Tag  article5Tag  article5Tag  article5Tag'
        'article6Tag  article6Tag  article6Tag  article6Tag  article6Tag  article6Tag'
        'aside1Tag    aside1Tag    aside1Tag    aside2Tag    aside2Tag    aside2Tag'
        'footerTag    footerTag    footerTag    cookieTag    cookieTag    cookieTag';
    } 
} /* END media querie tablet */


/* media querie mobile */
@media screen and (max-width: 719px){

    #grid-container header{
        background-color: lightseagreen;
        grid-area: headerTag;
    }
    
    #grid-container nav{
        display: none;
    }

    #grid-container .drawer {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        background-color: orange;
        grid-area: hamburgerTag;
      }
      #grid-container .drawer input {
        width: 100%;
        height: 60px;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 3;
        cursor: pointer;
      }
      #grid-container .drawer__name {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: greenyellow;
      }
      #grid-container strong{
         margin-top: 15px;
      }
      #grid-container .drawer__content {
        box-sizing: border-box;
        font-size: 15px;
        width: 100%;
        margin: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
        list-style: none;
        transition: padding 0.2s;
      }
      #grid-container .drawer__content a{
          color: #fff;
      }
      #grid-container .drawer__content a:active {
          color: black;
      }
      #grid-container .drawer input:checked ~ .drawer__content {
        height: 84%;
        opacity: 1;
        pointer-events: initial;
        padding: 10px 0;
        background-color: green;
      }
      #grid-container .drawer__arrow {
        font-weight: 700;
        font-size: 1.0rem;
        transition: transform 0.2s;
      }
      #grid-container .drawer input:checked ~ .drawer__name > .drawer__arrow {
        transform: rotateZ(90deg);
      }
      #grid-container .drawer__content li {
        padding: 10px;
        cursor: pointer;
      }
      #grid-container .drawer__content li:hover {
        color: rebeccapurple;
        text-decoration: underline;
      }

    
    #grid-container article-destination{
        margin: 0px;
        padding: 0px;
        height: 350px;
        width: 100%;
        float: left;
        background-color: purple;
        grid-area: article1Tag;
    }
    
    #grid-container article-destination2{
        width: 100%;
        float: left;
        background-color: yellow;
        grid-area: article2Tag;
    }
    
    #grid-container article-destination3{
        width: 100%;
        float: left;
        background-color: green;
        grid-area: article3Tag;
    }
    
    #grid-container article-destination4{
        display: none;
    }
    
    #grid-container article-destination5{
        height: 500px;
        width: 100%;
        float: left;
        background-color: pink;
        grid-area: article5Tag;
    }
    
    #grid-container article-destination6{
        display: none;
    }
    
    #grid-container p.story{
        margin: 0px;
        padding: 10px;
        width: 80%;
    }
    
    #grid-container h3{
        margin: 0px;
        padding: 10px;
    }
    
    #grid-container img.photo-destination{
        height: 100%;
        width: 100%;
        float: left;
    }
    
    #grid-container aside-product1{
        width: 100%;
        float: left;
        background-color: black;
        grid-area: aside1Tag;
    }
    
    #grid-container aside-product2{
        width: 100%;
        float: left;
        background-color: grey;
        grid-area: aside2Tag;
    }
    
    #grid-container aside-product3{
        width: 100%;
        float: left;
        background-color: black;
        grid-area: aside3Tag;
    }
    
    #grid-container footer{
        background-color: mediumaquamarine;
        grid-area: footerTag;
    }
    
    #grid-container p.cookie{
        margin: 0px;
        color: #fff;opacity:1;
    }
    
    #grid-container cookie-statement{
        float: left; 
        background-color: rgb(255, 170,	0);opacity:0.5;
        grid-area: cookieTag;
    }
    
    #grid-container{
        background-color: lawngreen;
        padding: 10px;
    
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
    
        /* #column1  #column2  #column3  #column4  #column5  #column6 */
        grid-template-areas: 
        'headerTag  headerTag  headerTag  headerTag  hamburgerTag  hamburgerTag'
        'article5Tag  article5Tag  article5Tag  article5Tag  article5Tag  article5Tag'
        'article3Tag  article3Tag  article3Tag  article3Tag  article3Tag  article3Tag'
        'article2Tag  article2Tag  article2Tag  article2Tag  article2Tag  article2Tag'
        'article1Tag  article1Tag  article1Tag  article1Tag  article1Tag  article1Tag'
        'aside1Tag    aside1Tag    aside1Tag    aside1Tag    aside1Tag    aside1Tag'
        'aside2Tag    aside2Tag    aside2Tag    aside2Tag    aside2Tag    aside2Tag'
        'aside3Tag    aside3Tag    aside3Tag    aside3Tag    aside3Tag    aside3Tag'
        'footerTag    footerTag    footerTag    footerTag    cookieTag    cookieTag'
    } 
} /* END media querie mobile */
/* END bestdestinations.html */


/* tickets.html */

/* media querie pc */
@media screen and (min-width: 930px){
#tui-tickets header{
    background-color: blanchedalmond;
    grid-column: 1 / 6;
    grid-area: headerTag;
}

#tui-tickets nav{
    background-color: violet;
    grid-column: 1 / 6;
    grid-area: navTag;
}

#tui-tickets .drawer {
    display: none;
  }

#tui-tickets title-article{
    height: 45px;
    background-color: greenyellow;
    grid-column: 1 / 6;
    grid-area: titleTag;
}

#tui-tickets h3{
    margin: 0px;
    padding: 10px;
}

#tui-tickets table{
    margin: 0px;
    padding: 0px;
    background-color: seagreen;
    grid-column: 1 / 4;
    grid-area: tableTag;
}

#tui-tickets th{
    background-color: seagreen;
}

#tui-tickets td:nth-child(even){
    background: purple;
}

#tui-tickets td:nth-child(odd){
    background: palevioletred;
}

#tui-tickets aside{
    background-color: black;
    grid-column: 5 / span 6;
    grid-area: asideTag;
}

#tui-tickets img.photo-destination{
    width: 500%;
    height: 500%;
    float: left;
}

#tui-tickets aside-product1{
    margin: 0px;
    padding: 0px;
    width: 20%;
    float: left;
    order: 1;
}

#tui-tickets aside-product2{
    margin: 0px;
    padding: 0px;
    width: 20%;
    clear: both;
    float: left;
    order: 2;
}

#tui-tickets aside-product3{
    margin: 0px;
    padding: 0px;
    width: 20%;
    clear: both;
    float: left;
    order: 3;
}

#tui-tickets p.tui{
    padding-top: 17px;
    margin: 0px;
    background-color: fuchsia;
    grid-column: 1 / 4;
    grid-area: copyTag;
}

#tui-tickets footer{
    height: 50px;
    background-color: khaki;
    grid-column: 1 / 4;
    grid-area: footerTag;
}

#tui-tickets p.copy{
    padding-top: 17px;
    margin: 0px;
}

#tui-tickets p.cookie{
    padding-top: 17px;
    margin: 0px;
    color: #fff;opacity:1;
}

#tui-tickets cookie-statement{
    height: 50px;
    background-color: rgb(255, 170,	0);opacity:0.5;
    grid-column: 5 / span 6;
    grid-area: cookieTag;
}

#tui-tickets{
    background-color: royalblue;
    padding: 10px;

    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;

    /* #column1  #column2  #column3  #column4  #column5  #column6 */
    grid-template-areas: 
    'headerTag  headerTag  headerTag  headerTag  headerTag  headerTag'
    'navTag     navTag     navTag     navTag     navTag     navTag'
    'titleTag   titleTag   titleTag   titleTag   titleTag   titleTag'
    'tableTag   tableTag   tableTag   tableTag   asideTag   asideTag'
    'copyTag    copyTag    copyTag    copyTag    asideTag    asideTag'
    'footerTag  footerTag  footerTag  footerTag  cookieTag  cookieTag'

}
}

/* media querie tablet */
@media screen and (min-width: 720px) and (max-width:929px){
    #tui-tickets header{
        background-color: blanchedalmond;
        grid-column: 1 / 6;
        grid-area: headerTag;
    }
    
    #tui-tickets nav{
        background-color: violet;
        grid-column: 1 / 6;
        grid-area: navTag;
    }
    
    #tui-tickets .drawer {
        display: none;
      }
    
    #tui-tickets title-article{
        padding-left: 10px;
        padding-bottom: 15px;
        height: 45px;
        background-color: greenyellow;
        grid-column: 1 / 6;
        grid-area: titleTag;
    }
    
    #tui-tickets table{
        margin: 0px;
        padding: 0px;
        background-color: seagreen;
        grid-column: 1 / 4;
        grid-area: tableTag;
    }
    
    #tui-tickets th{
        display: none;
    }
    
    #tui-tickets tr:nth-child(even){
        background: purple;
    }
    
    #tui-tickets tr:nth-child(odd){
        background: palevioletred;
    }

    #tui-tickets table, thead, tbody, th, td, tr { 
        display: block; 
    }

    #tui-tickets thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #tui-tickets tr { border: 1px solid gray; }

    #tui-tickets td { 
        border: none;
        border-bottom: 1px solid gray; 
        position: relative;
        padding-left: 50%; 
    }

    #tui-tickets td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Kreta"; }
    td:nth-of-type(2):before { content: "Ibiza"; }
    td:nth-of-type(3):before { content: "Barcelona"; }
    td:nth-of-type(4):before { content: "Punta Cana"; }
    td:nth-of-type(5):before { content: "Mallorca"; }
    
    #tui-tickets aside{
        background-color: black;
        width: 100%;
        grid-column: 1/ 6;
        grid-area: asideTag;
    }
    
    #tui-tickets img.photo-destination{
        width: 100%;
        height: 100%;
        float: left;
    }
    
    #tui-tickets aside-product1{
        display: none;
    }
    
    #tui-tickets aside-product2{
        width: 50%;
        float: left;
        background-color: black;
        grid-area: aside2Tag;
    }
    
    #tui-tickets aside-product3{
        width: 50%;
        float: left;
        background-color: grey;
        grid-area: aside3Tag;
    }
    
    #tui-tickets p.tui{
        padding-top: 17px;
        padding-bottom: 17px;
        margin: 0px;
        background-color: fuchsia;
        grid-column: 1 / 4;
        grid-area: copyTag;
    }
    
    #tui-tickets footer{
        height: 50px;
        background-color: khaki;
        grid-column: 1 / 4;
        grid-area: footerTag;
    }
    
    #tui-tickets p.copy{
        padding-top: 17px;
        margin: 0px;
    }
    
    #tui-tickets p.cookie{
        padding-top: 17px;
        margin: 0px;
        color: #fff;opacity:1;
    }
    
    #tui-tickets cookie-statement{
        height: 50px;
        background-color: rgb(255, 170,	0);opacity:0.5;
        grid-column: 5 / span 6;
        grid-area: cookieTag;
    }
    
    #tui-tickets{
        background-color: royalblue;
        padding: 10px;
    
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
    
        /* #column1  #column2  #column3  #column4  #column5  #column6 */
        grid-template-areas: 
        'headerTag  headerTag  headerTag  headerTag  headerTag  headerTag'
        'navTag     navTag     navTag     navTag     navTag     navTag'
        'titleTag   titleTag   titleTag   titleTag   titleTag   titleTag'
        'tableTag   tableTag   tableTag   tableTag   tableTag   tableTag'
        'copyTag    copyTag    copyTag    copyTag    copyTag    copyTag'
        'asideTag   asideTag   asideTag   asideTag   asideTag   asideTag'
        'footerTag  footerTag  footerTag  cookieTag  cookieTag  cookieTag'
    
    }
} 

/* media querie mobile */
@media screen and (max-width: 719px){
    #tui-tickets header{
        background-color: blanchedalmond;
        grid-column: 1 / 6;
        grid-area: headerTag;
    }
    
    #tui-tickets nav{
        display: none;
    }
    
    #tui-tickets .drawer {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        background-color: orange;
        grid-area: hamburgerTag;
      }
      #tui-tickets .drawer input {
        width: 100%;
        height: 60px;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 3;
        cursor: pointer;
      }
      #tui-tickets .drawer__name {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: greenyellow;
      }
      #tui-tickets strong{
         margin-top: 15px;
      }
      #tui-tickets .drawer__content {
        box-sizing: border-box;
        font-size: 15px;
        width: 100%;
        margin: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
        list-style: none;
        transition: padding 0.2s;
      }
      #tui-tickets .drawer__content a{
          color: #fff;
      }
      #tui-tickets .drawer__content a:active {
          color: black;
      }
      #tui-tickets .drawer input:checked ~ .drawer__content {
        height: 84%;
        opacity: 1;
        pointer-events: initial;
        padding: 10px 0;
        background-color: green;
      }
      #tui-tickets .drawer__arrow {
        font-weight: 700;
        font-size: 1.0rem;
        transition: transform 0.2s;
      }
      #tui-tickets .drawer input:checked ~ .drawer__name > .drawer__arrow {
        transform: rotateZ(90deg);
      }
      #tui-tickets .drawer__content li {
        padding: 10px;
        cursor: pointer;
      }
      #tui-tickets .drawer__content li:hover {
        color: rebeccapurple;
        text-decoration: underline;
      }
    
    #tui-tickets title-article{
        padding-left: 10px;
        padding-bottom: 15px;
        height: 45px;
        background-color: greenyellow;
        grid-column: 1 / 6;
        grid-area: titleTag;
    }
    
    #tui-tickets table{
        border-collapse: collapse; 
        margin: 0px;
        padding: 0px;
        background-color: seagreen;
        grid-column: 1 / 4;
        grid-area: tableTag;
    }
    
    #tui-tickets th{
        display: none;
    }
    
    #tui-tickets tr:nth-child(even){
        background: purple;
    }
    
    #tui-tickets tr:nth-child(odd){
        background: palevioletred;
    }

    #tui-tickets table, thead, tbody, th, td, tr { 
        display: block; 
    }

    #tui-tickets thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #tui-tickets tr { border: 1px solid gray; }

    #tui-tickets td { 
        border: none;
        border-bottom: 1px solid gray; 
        position: relative;
        padding-left: 50%; 
    }

    #tui-tickets td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px; 
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Kreta"; }
    td:nth-of-type(2):before { content: "Ibiza"; }
    td:nth-of-type(3):before { content: "Barcelona"; }
    td:nth-of-type(4):before { content: "Punta Cana"; }
    td:nth-of-type(5):before { content: "Mallorca"; }   
    
    #tui-tickets aside{
        background-color: black;
        width: 100%;
        grid-column: 1/ 6;
        grid-area: asideTag;
    }
    
    #tui-tickets .tui{
        background-color: fuchsia;
        grid-column: 1 / 4;
        grid-area: copyTag;
    }

    #tui-tickets img.photo-destination{
        width: 100%;
        height: 100%;
        float: left;
    }

    #tui-tickets aside-product1{
        width: 100%;
        float: left;
        background-color: black;
        grid-area: aside1Tag;
    }
    
    #tui-tickets aside-product2{
        width: 100%;
        float: left;
        background-color: grey;
        grid-area: aside2Tag;
    }
    
    #tui-tickets aside-product3{
        width: 100%;
        float: left;
        background-color: black;
        grid-area: aside3Tag;
    }
    
    #tui-tickets footer{
        background-color: khaki;
        float: left;
        grid-column: 1 / 4;
        grid-area: footerTag;
    }
    
    #tui-tickets p.cookie{
        margin: 0px;
        padding-top: 17px;
        grid-column: 5 / span 6;
        color: #fff;opacity:1;
    }
    
    #tui-tickets cookie-statement{
        background-color: rgb(255, 170,	0);opacity:0.5;
        float: left;
        grid-area: cookieTag;
    }
    
    #tui-tickets{
        background-color: royalblue;
        padding: 10px;
    
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
    
        /* #column1  #column2  #column3  #column4  #column5  #column6 */
        grid-template-areas: 
        'headerTag  headerTag  headerTag  hamburgerTag  hamburgerTag  hamburgerTag'
        'titleTag   titleTag   titleTag   titleTag      titleTag      titleTag'
        'tableTag   tableTag   tableTag   tableTag      tableTag      tableTag'
        'copyTag    copyTag    copyTag    copyTag       copyTag       copyTag'
        'asideTag   asideTag   asideTag   asideTag      asideTag      asideTag'
        'footerTag  footerTag  footerTag  cookieTag     cookieTag     cookieTag'
    }
} /* END tickets.html */  


 /* contact.html */  

/* media querie pc */
@media screen and (min-width: 930px){
    #contact header{
        background-color: orange;
        grid-column: 1 / 6;
        grid-area: headerTag;
    }
    
    #contact nav{
        background-color: lightskyblue;
        grid-column: 1 / 6;
        grid-area: navTag;
    }
    
    #contact .drawer {
        display: none;
      }

    #contact contact-form{
        grid-column: 1 / 4;
        grid-area: formTag;    
    }
    
    #contact title{
        background-color: blueviolet;
        grid-column: 1 / 6;
    }

    #contact h3{
        margin: 0px;
        padding: 10px;
    }
       
    #contact input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-family: Arial, Helvetica, sans-serif;  
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      height: 315px;
    }
    
    #contact input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    #contact input[type=submit]:hover {
      background-color: #45a049;
    }

    #contact img.photo-destination{
        margin: 0px;
        padding: 0px;
        width: 500%;
        height: 500%;
        float: left;
    }

    #contact aside{
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: black;
        grid-column: 5 / span 6;
        float: left;
        grid-area: asideTag;
    }
    
    #contact aside-product1{
        margin: 0px;
        padding: 0px;
        width: 20%;
        float: left;
        order: 1;
    }
    
    #contact aside-product2{
        margin: 0px;
        padding: 0px;
        width: 20%;
        clear: both;
        float: left;
        order: 2;
    }
    
    #contact aside-product3{
        margin: 0px;
        padding: 0px;
        width: 20%;
        clear: both;
        float: left;
        order: 3;
    }
    
    #contact footer{
        height: 50px;
        background-color: red;
        grid-column: 1 / 4;
        grid-area: footerTag;
    }

    #contact p.copy{
        padding-top: 17px;
        margin: 0px;
    }
    
    #contact p.cookie{
        padding-top: 17px;
        margin: 0px;
        grid-column: 5 / span 6;
        color: #fff;opacity:1;
    }
    
    #contact cookie-statement{
        height: 50px;
        background-color: rgb(255, 170,	0);opacity:0.5;
        grid-area: cookieTag;
    }
    
    #contact{
        background-color: royalblue;
        padding: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
    
        /* #column1  #column2  #column3  #column4  #column5  #column6 */
        grid-template-areas: 
        'headerTag  headerTag  headerTag  headerTag  headerTag  headerTag'
        'navTag     navTag     navTag     navTag     navTag     navTag'
        'titleTag   titleTag   titleTag   titleTag   titleTag   titleTag'
        'formTag    formTag    formTag    formTag    formTag   asideTag'
        'footerTag  footerTag  footerTag  footerTag  footerTag  cookieTag'
    
    }
}

@media screen and (min-width: 720px) and (max-width:929px){
    #contact header{
        background-color: orange;
        grid-column: 1 / 6;
        grid-area: headerTag;
    }
    
    #contact nav{
        background-color: lightskyblue;
        grid-column: 1 / 6;
        grid-area: navTag;
    }
    
    #contact .drawer {
        display: none;
      }

    #contact contact-form{
        grid-column: 1 / 4;
        grid-area: formTag;    
    }
    
    #contact title{
        background-color: blueviolet;
        grid-column: 1 / 6;
    }

    #contact h3{
        margin: 0px;
        padding: 10px;
    }
       
    #contact input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-family: Arial, Helvetica, sans-serif;  
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      height: 50px;
    }
    
    #contact input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    #contact input[type=submit]:hover {
      background-color: #45a049;
    }

    #contact img.photo-destination{
        margin: 0px;
        padding: 0px;
        width: 500%;
        height: 500%;
        float: left;
    }

    #contact aside{
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: black;
        grid-column: 5 / span 6;
        float: left;
        grid-area: asideTag;
    }
    
    #contact aside-product1{
        margin: 0px;
        padding: 0px;
        width: 20%;
        float: left;
        order: 1;
    }
    
    #contact aside-product2{
        margin: 0px;
        padding: 0px;
        width: 20%;
        clear: both;
        float: left;
        order: 2;
    }
    
    #contact aside-product3{
        margin: 0px;
        padding: 0px;
        width: 20%;
        clear: both;
        float: left;
        order: 3;
    }
    
    #contact footer{
        height: 50px;
        background-color: red;
        grid-column: 1 / 4;
        grid-area: footerTag;
    }

    #contact p.copy{
        padding-top: 17px;
        margin: 0px;
    }
    
    #contact p.cookie{
        padding-top: 17px;
        margin: 0px;
        grid-column: 5 / span 6;
        color: #fff;opacity:1;
    }
    
    #contact cookie-statement{
        height: 50px;
        background-color: rgb(255, 170,	0);opacity:0.5;
        grid-area: cookieTag;
    }
    
    #contact{
        background-color: royalblue;
        padding: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
    
        /* #column1  #column2  #column3  #column4  #column5  #column6 */
        grid-template-areas: 
        'headerTag  headerTag  headerTag  headerTag  headerTag  headerTag'
        'navTag     navTag     navTag     navTag     navTag     navTag'
        'titleTag   titleTag   titleTag   titleTag   titleTag   titleTag'
        'formTag    formTag    formTag    formTag    formTag    asideTag'
        'footerTag  footerTag  footerTag  footerTag  cookieTag  cookieTag'
    
    }
}

@media screen and (max-width: 719px){
#contact header{
    background-color: orange;
    grid-column: 1 / 6;
    grid-area: headerTag;
}

#contact nav{
    display: none;
}

#contact .drawer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: orange;
    grid-area: hamburgerTag;
  }

  #contact .drawer input {
    width: 100%;
    height: 60px;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 3;
    cursor: pointer;
  }

  #contact .drawer__name {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: greenyellow;
  }

  #contact strong{
     margin-top: 15px;
  }

  #contact .drawer__content {
    box-sizing: border-box;
    font-size: 15px;
    width: 100%;
    margin: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    list-style: none;
    transition: padding 0.2s;
  }

  #contact .drawer__content a{
      color: #fff;
  }

  #contact .drawer__content a:active {
      color: black;
  }

  #contact .drawer input:checked ~ .drawer__content {
    height: 84%;
    opacity: 1;
    pointer-events: initial;
    padding: 10px 0;
    background-color: green;
  }

  #contact .drawer__arrow {
    font-weight: 700;
    font-size: 1.0rem;
    transition: transform 0.2s;
  }

  #contact .drawer input:checked ~ .drawer__name > .drawer__arrow {
    transform: rotateZ(90deg);
  }

  #contact .drawer__content li {
    padding: 10px;
    cursor: pointer;
  }

  #contact .drawer__content li:hover {
    color: rebeccapurple;
    text-decoration: underline;
  }

    #contact contact-form{
    grid-column: 1 / 4;
    grid-area: formTag;    
}

    #contact title{
    background-color: blueviolet;
    grid-column: 1 / 6;
}

    #contact h3{
    margin: 0px;
    padding: 10px;
}
   
#contact input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;  
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  height: 42px;
}

#contact input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact input[type=submit]:hover {
  background-color: #45a049;
}

#contact img.photo-destination{
    margin: 0px;
    padding: 0px;
    width: 500%;
    height: 500%;
    float: left;
}

#contact aside{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: black;
    grid-column: 5 / span 6;
    float: left;
    grid-area: asideTag;
}

#contact aside-product1{
    margin: 0px;
    padding: 0px;
    width: 20%;
    float: left;
    order: 1;
}

#contact aside-product2{
    margin: 0px;
    padding: 0px;
    width: 20%;
    clear: both;
    float: left;
    order: 2;
}

#contact aside-product3{
    margin: 0px;
    padding: 0px;
    width: 20%;
    clear: both;
    float: left;
    order: 3;
}

#contact footer{
    height: 50px;
    background-color: red;
    grid-column: 1 / 4;
    grid-area: footerTag;
}

#contact p.copy{
    padding-top: 17px;
    margin: 0px;
}

#contact p.cookie{
    padding-top: 17px;
    margin: 0px;
    grid-column: 5 / span 6;
    color: #fff;opacity:1;
}

#contact cookie-statement{
    height: 50px;
    background-color: rgb(255, 170,	0);opacity:0.5;
    grid-area: cookieTag;
}

#contact{
    background-color: royalblue;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;

    /* #column1  #column2  #column3  #column4  #column5  #column6 */
    grid-template-areas: 
    'headerTag  headerTag  headerTag  headerTag  hamburgerTag  hamburgerTag'
    'titleTag   titleTag   titleTag   titleTag   titleTag      titleTag'
    'formTag    formTag    formTag    formTag    asideTag      asideTag'
    'footerTag  footerTag  footerTag  footerTag  cookieTag     cookieTag'

}
}

