/* index*/

/* media querie pc */
@media screen and (min-width: 930px){
body{
    background-color: aqua;
    display: flex;    
    flex-wrap: wrap;
    padding: 0; 
    margin: 0;  
}

header.upper-header{
    flex-basis: 100%;   
    flex-shrink: 0;   
    flex-grow: 0;
    background-color: blue;   
}

nav{
    flex-basis: 100%;   
    flex-shrink: 0;   
    flex-grow: 0;
    background-color: red;
}

promotion-video{
    flex-basis: 100%; 
    padding: 10px;
    margin: 0px;  
    flex-shrink: 0;   
    flex-grow: 0;
    background-color:palevioletred;
}

video{
float:left;
}

section.flexParent{
    flex-basis: 80%;   
    padding: 10px;
    display: flex;    
    flex-wrap: wrap; 
    background-color: purple;  
}

article-one{
    flex-basis: 60%;   
    flex-shrink: 0;   
    flex-grow: 0;
    padding: 10px; 
    background-color: royalblue; 
}

article-two{
    flex-basis: 60%;   
    flex-shrink: 0;   
    flex-grow: 0;
    padding: 10px; 
    background-color: royalblue; 
}

article-three{
    flex-basis: 60%;    
    flex-shrink: 0;   
    flex-grow: 0;
    padding: 10px; 
    background-color: royalblue; 
}



h1{
    background-color: violet;
}

h2{
    background-color: orange;
}

h3{
    background-color: white;
}

p.story{
    background-color: olive;
    line-height: 1.2em;
}

p.copyright-photo{
    background-color: hotpink;
    float: right;
}

img.photo-destination{
    height: 300px;
    width: 500px;
    float: right;
}

footer.footer-article{
    float: left;
    clear: both;
    background-color: rgb(168, 42, 20);
}

aside{
    flex-basis: 20%;   
    flex-shrink: 0;   
    flex-grow: 0;
    left: 1229px;
    top:372px;
    position: fixed;
    float: left;
    background-color: steelblue;
}

footer-body{
    width: 81%;
    height: 50px;  
    background: lightcoral;
}

p.cookie{
    color: #fff;opacity:1;
}

cookie-statement{
    width: 20%;  
    height: 50px; 
    left: 1229px;
    top: 655px;
    position: fixed;
    background-color: rgb(255, 170,	0);opacity:0.5;
}

}

@media screen and (min-width: 720px) and (max-width:929px){
    body{
        background-color: aqua;
        display: flex;    
        flex-wrap: wrap;
        padding: 0; 
        margin: 10;  
    }
    
    header.upper-header{
        height: 300px;
        width: 100%;
        order: 1;
        background-color: blue;   
    }
    
    nav{
        height: 100px;
        width: 100%;
    
        background-color: red;
    }
    
    promotion-video{
        height: 300px;
        width: 100%;
        background-color:palevioletred;
    }
    
    video{
    float:left;
    }
    
    section.flexParent{
        height: 2013px;
        width: 80%;
        padding: 10px;
        display: flex;    
        flex-wrap: wrap; 
        background-color: purple;  
    }
    
    article-one{
        flex-basis: 98%;   
        flex-shrink: 0;   
        flex-grow: 0;
        padding: 10px; 
        background-color: royalblue; 
    }
    
    article-two{
        flex-basis: 98%;   
        flex-shrink: 0;   
        flex-grow: 0;
        padding: 10px; 
        background-color: royalblue; 
    }
    
    article-three{
        flex-basis: 98%;    
        flex-shrink: 0;   
        flex-grow: 0;
        padding: 10px; 
        background-color: royalblue; 
    }
    
    
    
    h1{
        background-color: violet;
    }
    
    h2{
        background-color: orange;
    }
    
    h3{
        background-color: white;
        width: 600px;
    }
    
    p.story{
        width: 600px;
        background-color: olive;
        line-height: 1.2em;
    }
    
    p.copyright-photo{
        background-color: hotpink;
        float: left;
    }
    
    img.photo-destination{
        height: 300px;
        width: 500px;
        float: right;
    }
    
    footer.footer-article{
        height: 400px;
        width: 600px;
        float: left;
        clear: both;
        background-color: rgb(168, 42, 20);
    }
    
    aside{
        width: 20%;
        flex-shrink: 0;   
        flex-grow: 0;
        left: 1230px;
        top:372px;
        position: fixed;
        float: left;
        background-color: steelblue;
    }
    
    footer{
        display: flex;    
        flex-wrap: wrap; 
        flex-basis: 80%;
        background: lightcoral;
    }
    
    p.cookie{
        color: #fff;opacity:1;
    }
    
    cookie-statement{
        height: 50px;
        width: 20%;
        left: 1230px;
        top: 672px;
        position: fixed;
        float: left; 
        background-color: rgb(255, 170,	0);opacity:0.5;
    }
}



/* bestdestinations.html */
header.destinations{
    background-color: lightseagreen;
    grid-area: headerTag;
}

nav.destinations{
    background-color: magenta;
    grid-area: navTag;
}

article-destination{
    height: 500px;
    width: 80%;
    float: left;
    background-color: purple;
    grid-area: article1Tag;
}

article-destination2{
    height: 500px;
    width: 80%;
    float: left;
    background-color: yellow;
    grid-area: article2Tag;
}

article-destination3{
    height: 500px;
    width: 80%;
    float: left;
    background-color: green;
    grid-area: article3Tag;
}

article-destination4{
    height: 500px;
    width: 80%;
    float: left;
    background-color: orange;
    grid-area: article4Tag;
}

article-destination5{
    height: 500px;
    width: 80%;
    float: left;
    background-color: pink;
    grid-area: article5Tag;
}

article-destination6{
    height: 500px;
    width: 80%;
    float: left;
    background-color: maroon;
    grid-area: article6Tag;
}

aside-product1{
    height: 200px;
    width: 20%;
    flex-shrink: 0;   
    flex-grow: 0;
    float: left;
    background-color: black;
    grid-area: aside1Tag;
}

aside-product2{
    height: 200px;
    width: 20%;
    flex-shrink: 0;   
    flex-grow: 0;
    float: left;
    background-color: grey;
    grid-area: aside2Tag;
}

aside-product3{
    height: 200px;
    width: 20%;
    flex-shrink: 0;   
    flex-grow: 0;
    float: left;
    background-color: goldenrod;
    grid-area: aside3Tag;
}

footer.destinations{
    background-color: mediumaquamarine;
    grid-area: footerTag;
}

cookie-statement.destinations{
    background-color: indigo;
    grid-area: cookieTag;
}

#grid-container{
    background-color: lawngreen;
    padding: 10px;

    display: grid;
    grid-gap: 10px;

    /* #column1  #column2  #column3  #column4  #column5  #column6 */
    grid-template-areas: 
    'headerTag  headerTag  headerTag  headerTag  headerTag  headerTag'
    'navTag     navTag     navTag     navTag     navTag     navTag'
    'article2Tag  article2Tag  article2Tag  article1Tag  article1Tag  article3Tag'
    'article2Tag  article2Tag  article2Tag  article1Tag  article1Tag  article3Tag'
    'article5Tag  article5Tag  article5Tag  article1Tag  article1Tag  article3Tag'
    'article5Tag  article5Tag  article5Tag  article1Tag  article1Tag  article4Tag'
    'article5Tag  article5Tag  article5Tag  article1Tag  article1Tag  article4Tag'
    'article5Tag  article5Tag  article5Tag  article1Tag  article1Tag  article4Tag'
    'article5Tag  article5Tag  article5Tag  article6Tag  article6Tag  article6Tag'
    'aside1Tag    aside1Tag    aside1Tag    aside2Tag    aside2Tag    aside3Tag'
    'aside1Tag    aside1Tag    aside1Tag    aside2Tag    aside2Tag    aside3Tag'
    'footerTag    footerTag    footerTag    footerTag    footerTag    cookieTag'
    'footerTag    footerTag    footerTag    footerTag    footerTag    cookieTag';
}